@import './base.css';

#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
